@model HashSet<OrderTrackAction>

<table  class="table table-striped table-bordered data-table">
    <thead>
        <tr>
            <th>الكود</th>
            <th>الاسم العربي</th>
            <th>الاسم الانجليزي</th>
            <th class="no-sort">نشط</th>
            <th class="no-sort"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Code</td>

            <td>@item.ArabicName</td>
            <td>@item.EnglishName</td>

            <td>
                <input class="styled-checkbox" type="checkbox" id="styled-checkbox-2" disabled @(item.IsActive ? "checked" : "") />
                <label for="styled-checkbox-2"></label>
            </td>

            <td class="button">
                @if (UserAccountMannager.HasPermission(_uow, _security, AppSession.CurrentUser.Id, EN_Screens.OrderTrackAction, EN_Permissions.Edit))
                {
                <button class="btn btn-outline-primary" onclick="OpenForm(@item.Id)">
                    <i class="fas fa-pencil-alt"></i>
                    <span class="text"> تعديل</span>
                </button>
                }

                @*@if (UserAccountMannager.HasPermission(_uow, _security, AppSession.CurrentUser.Id, EN_Screens.OrderTrackAction, EN_Permissions.Delete))
                {
                    <button type="button" class="btn btn-sp btn-outline-danger" onclick="ShowDeleteAlert('OrderTrackAction','@item.Id')">
                        <i class="far fa-trash-alt"></i>
                        <span class="text"> حذف</span>
                    </button>
                }*@
            </td>
        </tr>
        }
    </tbody>
</table>